<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<section>

            <div class="col-md-4 mt-4">
                <a href="/admin/users?type=1" class="text-decoration-none">
                    <div class="card card-sh">
                        <div class="card-body text-center text-primary">
                            <i class="fa-solid fa-circle-user fa-3x"></i>
                            <h4>Пользователи</h4>
                        </div>
                    </div>
                </a>
            </div>




        </div>
    </div>
</section>
</body>
</html>