
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<section>
    <div class="container-fluid bg-primary">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="ch">
                        <button class="btn btn-light text-dark">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>